.mega-dropdown{
  position:static !important;
}

.navbar .mega-dropdown-menu, .mega-dropdown-menu{
  padding:20px 0px;
  width:100%;
  box-shadow:none;
  -webkit-box-shadow:none;
  border-top:1px solid #eee;
  margin-top:0;
  border-bottom:1px solid rgba(0,0,0,0.2);
}

.mega-dropdown-menu > li > ul{
  padding:0;
  margin:0;
}

.mega-dropdown-menu > li > ul > li{
  list-style:none;
}

.mega-dropdown-menu > li > ul > li > a{
  display:block;
  padding:3px 20px;
  clear:both;
  font-weight:normal;
  line-height:1.428571429;
  color:#E4E4E4;
  white-space:normal;
}

.mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:focus{
  text-decoration:none;
  color:#fff;
  background-color:rgba(0,0,0,0.2);
}

.mega-dropdown-menu .dropdown-header{
  font-size:18px;
  color:#008cba;
  font-weight:bold;
}

.mega-dropdown-menu form{
  margin:3px 20px;
}

.mega-dropdown-menu .form-group{
  margin-bottom:3px;
}

li._bsw-vertical-level-0{
  min-height:40px;
  line-height:40px;
  border-bottom:1px solid #eee;
}

li._bsw-vertical-level-0 > .fa{
  transition:all 300ms ease;
  line-height:40px;
  width:30px;
  text-align:center;
}

li._bsw-vertical-level-0 > a{
  display:block;
  float:left;
  width:calc(100% - 35px);
}

ul._bsw-vertical-menu-sub{
  clear:both;
}

li._bsw-vertical-level-0 li{
  line-height:30px;
  min-height:30px;
}

.mega-dropdown-menu a, .navbar.navbar-big-transparent .nav > li.mega-dropdown .mega-dropdown-menu a, .navbar.navbar-big-transparent.sticky-nav .nav > li.mega-dropdown .mega-dropdown-menu a{
  line-height:2;
  color:#E4E4E4;
}

