.mega-dropdown{
  position:static !important;
}

.mega-dropdown-menu{
  padding:20px 0px;
  width:100%;
  box-shadow:none;
  -webkit-box-shadow:none;
}

.mega-dropdown-menu:before{
  content:"";
  border-bottom:15px solid #fff;
  border-right:17px solid transparent;
  border-left:17px solid transparent;
  position:absolute;
  top:-15px;
  left:285px;
  z-index:10;
}

.mega-dropdown-menu:after{
  content:"";
  border-bottom:17px solid #ccc;
  border-right:19px solid transparent;
  border-left:19px solid transparent;
  position:absolute;
  top:-17px;
  left:283px;
  z-index:8;
}

.mega-dropdown-menu > li > ul{
  padding:0;
  margin:0;
}

.mega-dropdown-menu > li > ul > li{
  list-style:none;
}

.mega-dropdown-menu > li > ul > li > a{
  display:block;
  padding:3px 20px;
  clear:both;
  font-weight:normal;
  line-height:1.428571429;
  color:#999;
  white-space:normal;
}

.mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:focus{
  text-decoration:none;
  color:#444;
  background-color:#f5f5f5;
}

.mega-dropdown-menu .dropdown-header{
  color:#428bca;
  font-size:18px;
  font-weight:bold;
}

.mega-dropdown-menu form{
  margin:3px 20px;
}

.mega-dropdown-menu .form-group{
  margin-bottom:3px;
}

li._bsw-vertical-level-0{
  min-height:40px;
  line-height:40px;
  border-bottom:1px solid #eee;
}

li._bsw-vertical-level-0 > .fa{
  transition:all 300ms ease;
  line-height:40px;
  width:30px;
  text-align:center;
}

li._bsw-vertical-level-0 > a{
  display:block;
  float:left;
  width:calc(100% - 35px);
}

ul._bsw-vertical-menu-sub{
  clear:both;
}

._bsw-border-top{
  border-top:1px solid #eee;
}

li._bsw-vertical-level-0 li{
  line-height:30px;
  min-height:30px;
}

