.navbar{
  margin-bottom:0;
  border:1px solid transparent;
}

.media-list-link-icon{
  width:80px;
  height:80px;
  display:block;
  padding:0;
  text-align:center;
  border:1px solid #343434;
  line-height:80px;
  font-size:32px;
  color:#343434;
  border-radius:50%;
}

.media-list-columns .media{
  padding:30px 0 30px 0;
}



.promo-section-inner{
}



._bswidget.promo-section{
  border-top:1px solid #eee;
  border-bottom:1px solid #eee;
}

.navbar.navbar-big-transparent{
  height:100px;
  background:transparent;
  width:100%;
  border-bottom:1px solid rgba(255,255,255,0.2);
  box-shadow:none;
  z-index:10;
  position:absolute;
  top:0;
  left:0;
  right:0;
  width:100%;
  margin:0 auto;
  z-index:100;
}

.navbar.navbar-big-transparent a.navbar-brand.navbar-link{
  height:100px;
  line-height:100px;
  padding:0 20px;
  font-size:3em;
  border-right:1px solid rgba(255,255,255,0.2);
  color:#fff;
  text-shadow:none;
  margin-top:-2px;
}

.navbar.navbar-big-transparent.sticky-nav a.navbar-brand.navbar-link{
  height:60px;
  line-height:60px;
  padding:0 20px;
  font-size:2em;
  transition:all 300ms ease;
}

.navbar.navbar-big-transparent .nav > li > a{
  line-height:100px;
  padding:0 15px;
  text-transform:uppercase;
  font-size:13px;
  font-weight:bold;
  text-shadow:none;
  color:#ddd;
}

.navbar.navbar-big-transparent.sticky-nav .nav > li a{
  line-height:60px;
  color:#343434;
}

.heading-background-mid{
  height:60vh;
  min-height:400px;
}

.heading-jumbotron{
  position:relative;
  z-index:0;
  background:url(../../assets/img/home2.jpg) no-repeat center bottom fixed;
  background-size:cover;
  color:#fff;
  margin-bottom:0;
}

.heading-jumbotron-inner{
  position:absolute;
  top:50%;
  left:0;
  transform:translate(0, -50%);
  right:0;
  margin:auto;
}

@media (max-width:991px) {
  .heading-jumbotron-inner{
    margin-top:0;
    overflow:hidden;
  }
}

.heading-btn-big{
  padding:15px 25px;
  margin-top:20px;
}

.heading-jumbotron-inner p{
  margin-top:30px;
}

.navbar-default.navbar-big-transparent .navbar-nav > .active > a, .navbar-default.navbar-big-transparent .navbar-nav > .active > a:focus, .navbar-default.navbar-big-transparent .navbar-nav > .active > a:hover{
  color:#fff;
  background:transparent;
  box-shadow:none;
}

.navbar-default.navbar-big-transparent.sticky-nav .navbar-nav > .active > a, .navbar-default.navbar-big-transparent.sticky-nav .navbar-nav > .active > a:focus, .navbar-default.navbar-big-transparent.sticky-nav .navbar-nav > .active > a:hover{
  color:#000;
}



.navbar.navbar-big-transparent.sticky-nav{
  height:60px;
  background:#fff;
  box-shadow:0 0 10px 0 rgba(0,0,0,.1);
  -webkit-transition:all 400ms ease;
  -moz-transition:all 400ms ease;
  -ms-transition:all 400ms ease;
  transition:all 400ms ease;
  position:fixed;
}

.navbar.navbar-big-transparent{
  -webkit-transition:all 400ms ease;
  -moz-transition:all 400ms ease;
  -ms-transition:all 400ms ease;
  transition:all 400ms ease;
}

@media (max-width:767px) {
  .navbar.navbar-big-transparent, .navbar.navbar-big-transparent.sticky-nav{
    position:static;
    height:auto;
  }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a{
  background:transparent;
  box-shadow:none;
  color:#fff;
}

ul.dropdown-menu{
  margin:0;
  padding:0;
  background:#343434;
  border:none;
  border-radius:0;
}

.navbar.navbar-big-transparent.sticky-nav .dropdown-menu > li > a, .dropdown-menu > li > a{
  line-height:50px;
  padding:0 10px;
  color:#ccc;
  text-transform:uppercase;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
  background:transparent;
}

.address-bloc{
  padding:20px 0;
}

.footer-full-featured{
  padding-top:40px;
  padding-bottom:0;
}



.navbar.navbar-big-transparent.sticky-nav a.navbar-brand.navbar-link{
  color:#343434;
  border-right:1px solid rgba(0,0,0,0.1);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
  color:#fff;
}

@media (max-width:768px) {
  .navbar.navbar-big-transparent a.navbar-brand.navbar-link, .navbar.navbar-big-transparent.sticky-nav a.navbar-brand.navbar-link{
    height:60px;
    color:#343434;
    line-height:60px;
  }
}

@media (max-width:767px) {
  .navbar-default.navbar-big-transparent .navbar-nav > .active > a, .navbar-default.navbar-big-transparent .navbar-nav > .active > a:focus, .navbar-default.navbar-big-transparent .navbar-nav > .active > a:hover{
    color:#000;
  }
}

@media (max-width:767px) {
  .navbar.navbar-big-transparent, .navbar.navbar-big-transparent.sticky-nav{
    height:auto;
    color:#343434;
    line-height:60px;
  }
}

@media (max-width:767px) {
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
    color:#000;
  }
}

@media (max-width:768px) {
  .navbar.navbar-big-transparent .nav > li > a, .navbar.navbar-big-transparent.sticky-nav .nav > li > a{
    line-height:60px;
    color:#343434;
    line-height:60px;
  }
}

.dark-bg{
  background:#343434;
  color:#fff;
}

.dark-bg .copyright-footer{
  background:rgba(0,0,0,0.2);
}

.copyright-footer{
  padding-top:20px;
  padding-bottom:10px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  background:transparent;
}

.bloc-breadcrumb-jumbotron .breadcrumb{
  background:transparent;
  border:none;
  vertical-align:middle;
  display:inline-block;
  line-height:normal;
  padding:0;
  margin:0;
}

.bloc-breadcrumb-jumbotron .breadcrumb a{
  color:#ddd;
  text-transform:none;
  font-size:12px;
  line-height:20px;
}

.bloc-breadcrumb-jumbotron{
  line-height:204px;
  text-align:center;
}

@media (max-width:991px) {
  .bloc-breadcrumb-jumbotron{
    line-height:40px;
    text-align:center;
  }
}

.breadcrumb > li{
  line-height:20px;
}

.light-bg{
  background:#f7f7f7;
}

.centered-content{
  text-align:center;
}

.navbar .navbar-toggle:hover .icon-bar{
  background-color:#000;
}

.navbar .navbar-toggle .icon-bar{
  background:#343434;
}

@media (max-width:767px) {
  .navbar-default .dropdown-menu > li > a, .navbar-default .dropdown-menu > li > a{
    color:#343434;
    background:#fff;
  }
}

@media (max-width:767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a{
    color:#343434;
    line-height:30px;
    background:#fff;
  }
}

.carousel-inner{
}

.site-footer a{
}



select.select-big{
  height:40px;
  border:1px solid #777;
  border-radius:0;
}

.select.select-big optgroup{
  border-radius:0;
}

select.select-big option{
  border-radius:0;
}

_bsw-sidebar-widget{
}

.heading-background.heading-background-small{
  height:30vh;
  min-height:230px;
}

.heading-background.heading-background-small .bloc-breadcrumb-jumbotron{
  height:100px;
}

.heading-background.heading-background-small h1{
  font-size:40px;
}

.heading-background.heading-background-small .heading-jumbotron-inner{
  top:60%;
}

a.link-read-more{
  font-weight:bold;
  font-size:14px;
}

._bsw-icon-medium{
  width:80px;
  height:80px;
  text-align:center;
  line-height:80px;
  font-size:45px;
}

._bsw-thumbnail-icon-hover:hover ._bsw-icon-hover{
  opacity:1;
  visibility:visible;
}

._bsw-icon-hover{
  opacity:0;
  visibility:hidden;
  transition:all 300ms ease;
}

._bsw-thumbnail-icon-hover ._bsw-icon-hover{
  left:10px;
  bottom:10px;
}


._bsw-two-columns-description-btn-container a.btn{
  margin-top:80px;
}

@media (max-width:767px) {
  ._bsw-two-columns-description-btn-container a.btn{
    margin-top:30px;
    float:none !important;
  }
}

._bsw-two-columns-description{
  max-width:380px;
}

@media (max-width:767px) {
  ._bsw-two-columns-description{
    max-width:100%;
  }
}

._bsw-team-preview .thumbnail{
  border:none;
  padding:0;
}

._bsw-figure{
  position:relative;
  overflow:hidden;
  text-align:center;
}

._bsw-figure .caption{
  position:absolute;
  top:0;
  background:rgba(0,0,0,0.9);
  color:#ddd;
  width:100%;
  height:100%;
  top:0;
  left:0;
  bottom:0;
  right:0;
  padding:20px;
  transform:translateY(100%);
  opacity:0;
  transition:opacity 300ms ease, transform 400ms ease;
}

._bsw-team-preview .thumbnail:hover ._bsw-figure .caption{
  opacity:1;
  transform:translateY(0);
}

._bsw-team-member-icon{
  font-size:22px;
}

._bsw-figure .caption a{
  color:#999;
}

._bsw-team-preview .thumbnail{
  padding-bottom:30px;
  position:relative;
}

._bsw-team-preview .thumbnail:after{
  content:"";
  position:absolute;
  height:3px;
  background:#ccc;
  left:0;
  right:0;
  margin:0 auto;
  max-width:50%;
  border-radius:2px;
  bottom:0;
  transition:all 300ms ease;
}

._bsw-team-preview .thumbnail:hover:after{
  background-color:#343434;
  max-width:45%;
}

._bsw-dark-bg{
  background:#343434;
  color:#fff;
}

._bsw-white-bg{
  background:#fff;
  color:#000;
}



._bsw-form-big-section textarea{
  min-height:120px;
}

input#text-input.form-control{
}

textarea{
  max-width:100%;
}

._bsw-fixed-bg{
  background-attachment:fixed;
}

._bsw-image-bg{
  background-image:url(../../assets/img/home2.jpg);
  background-repeat:no-repeat;
}

._bsw-bg-cover{
  background-size:cover;
}

._bsw-bg-center{
  background-position:center center;
}



.text-bold{
  font-weight:bold;
}

.article-body p{
  line-height:1.8;
}

.list-group-item{
  border-left:0;
  border-right:0;
}

.list-practice-areas .list-group-item{
  padding:15px 0 15px 0;
}

.area-title{
  padding-left:10px;
}

.media-left a{
  display:block;
}




[data-ajax-content] .loader{
  font-size:24px;
}

[data-ajax-content]{
  background:#f7f7f7;
  min-height:200px;
}

[data-ajax-content].content-loaded{
  background:transparent;
  min-height:auto;
}

._bsw-sidebar-widget{
  margin-bottom:20px;
}

._bsw-ajax-content{
  opacity:0;
  transform:translateY(40px);
  transition:opacity 300ms 200ms ease, transform 300ms ease;
}

._bsw-ajax-content.visible{
  opacity:1;
  transform:none;
}

.sidebar-team-member-picture ._bsw-thumbnail-meta:after{
  content:"";
  display:block;
  width:50%;
  margin:auto;
  height:2px;
  border-radius:1px;
  background:#343434;
}

.sidebar-team-member-picture ._bsw-thumbnail-meta{
  margin-bottom:20px;
}



body.boxed .whole-site{
  max-width:1480px;
  margin:auto;
  position:relative;
  box-shadow:0 0 10px 0 rgba(0,0,0,0.4);
}



body.boxed #main-navigation{
  max-width:1480px;
}

.loading-site{
  display:none;
}

body.bswjs .loading-site{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  margin:0 auto;
  background:#fff;
  opacity:1;
  display:block;
  transform:translateY(0);
  transition:all 1000ms cubic-bezier(.65,.05,.36,1);
  z-index:10000;
}

body.bswjs .loading-site.site-loaded{
  opacity:0;
  visibility:hidden;
  transition:all 1000ms cubic-bezier(.65,.05,.36,1) 300ms;
  transform:translateY(0);
}

.navbar .dropdown-menu > li{
  border-bottom:1px solid rgba(0, 0, 0, 0.1);
}

.loading-site:before{
  content:"";
  display:block;
  width:100%;
  height:5px;
  background:#000;
  transform:scaleX(0);
  transform-origin:0 0;
  transition:all 800ms cubic-bezier(.65,.05,.36,1);
}

.loading-site.site-loaded:before{
  transform:scaleX(1);
}

#bswgmap{
  width:100%;
  height:500px;
  overflow:hidden;
}

@media (max-width:767px) {
  #bswgmap{
    height:300px;
  }
}

@media screen and (min-width:768px) {
  .jumbotron h1, .jumbotron .h1{
    font-size:58px;
  }
}

.pos-fixed{
  position:fixed;
}

.btn-go-to-top{
  bottom:30px;
  right:20px;
  z-index:10;
  border:none;
  transition:all 500ms cubic-bezier(.68,-0.55,.27,1.55);
  background:rgba(0,0,0,0.75);
  opacity:0;
  visibility:hidden;
  transform:scale(0);
  color:#fff;
}

.btn-go-to-top .bsw-icon{
  font-size:18px;
}

.tooltip{
  min-width:140px;
}

.btn-go-to-top.in{
  visibility:visible;
  opacity:1;
  transform:scale(1);
}

.separator{
  display:block;
  margin:10px auto;
  height:2px;
  border-radius:1px;
  background:#ddd;
}


.centered-block{
  margin-left:auto;
  margin-right:auto;
}

.well{
  background:transparent;
}

._bsw-one-column-description{
  max-width:700px;
}



