/* -----------------------------------------------------------------------------Positions */
._bsw-relative, .pos-relative{
  position:relative;
}

._bsw-absolute, .pos-aboslute{
  position:absolute;
}

._bsw-fixed, .pos-fixed{
  position:fixed;
}

._bsw-static, .pos-static{
  position:static;
}


/*  ------------------------------------------------------------------- Paddings and Margins */

/* ----------------------------------------------------------------------------- [ Paddings ] */

/* ----------------------------------------------------------------------------- Medium */
.padding-top-medium{
  padding-top:60px;
}

.padding-bottom-medium {
  padding-bottom:60px;
}

.padding-medium-top-bottom{
  padding-top: 60px;
  padding-bottom: 60px;
}

/* ----------------------------------------------------------------------------- Small */

._bsw-padding-small, .padding-small{
  padding:30px;
}

.padding-small-top-bottom{
  padding-top:30px;
  padding-bottom:30px;
}


/* ----------------------------------------------------------------------------- Extra small */

.padding-xsmall-top-bottom{
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-top-xsmall{
  padding-top:20px;
}

/* ----------------------------------------------------------------------------- Extra  extra small */

.padding-xxsmall{
  padding:10px;
}


/*  ----------------------------------------------------------------------------- Extra  extra  extra small (!) */

.padding-xxxsmall-top-bottom{
  padding-top:5px;
  padding-bottom:5px;
}
/*
//////// ----------------------------------------------------------------------------- Pixel values 
*/

.padd-top-100{
  padding-top:100px;
}

/*
//////// ----------------------------------------------------------------------------- No padding
*/

._bsw-no-padding{
  padding:0;
}

/*
//////// ----------------------------------------------------------------------------- Depending on device width
*/

@media (max-width:767px) {
  .padd-top-xs-50{
    padding-top:50px;
  }
}

/*
//// ----------------------------------------------------------------------------- [ Margins ]
*/
/*
//////// ----------------------------------------------------------------------------- No Margin
*/

._bsw-no-margin{
  margin:0;
}

/*
//////// ----------------------------------------------------------------------------- Auto margin
*/

._bsw-margin-auto{
  margin: auto;
}

.margin-auto{
  margin:auto;
}

/*
//////// ----------------------------------------------------------------------------- Extra large
*/

/*
//////// ----------------------------------------------------------------------------- Large
*/

/*
//////// ----------------------------------------------------------------------------- Medium
*/

.margin-top-medium{
  margin-top:60px;
}

/*
//////// ----------------------------------------------------------------------------- Medium small
*/

.margin-bottom-smedium{
  margin-bottom:30px;
}

/*
//////// ----------------------------------------------------------------------------- Small
*/

.margin-top-bottom-small{
  margin:20px auto;
}

.margin-top-small{
  margin-top:20px;
}

.margin-bottom-small{
  margin-bottom:20px;
}

/*
//////// ----------------------------------------------------------------------------- Extra small
*/

.margin-bottom-xsmall{
  margin-bottom:10px;
}

/*
//////// ----------------------------------------------------------------------------- Extra extra small
*/

/*
//////// ----------------------------------------------------------------------------- Based on grid values
*/

.margin-bottom-grid{
  margin-bottom:30px;
}

/*
// ----------------------------------------------------------------------------- Borders
*/

.border-top-small{
  border-top:1px solid #eee;
}

/*
// Icons
*/

._bsw-icon-rounded{
  border-radius:5px;
}

/*
// ----------------------------------------------------------------------------- Background styles
*/

.dark-bg{
  background:#343434;
  color:#fff;
}

.light-bg{
  background:#f7f7f7;
}
